.navbar {
    padding-left: 10px;
 }
 .cartLink{
 cursor: pointer;
 }
 .badge{
   position:absolute;
 }
 .logo img{
   height:40px;
 }
 .btn-bg{
   background: linear-gradient(72deg, rgba(199,122,93,1) 24%, rgba(181,111,147,1) 38%, rgba(148,91,130,1) 73%)! important;
   color:#fff !important;
 
 }
 
 main{
  min-height:100vh;
 }
 .card{
     margin-bottom: 20px;
     border:1px solid #e78200;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     border-radius: 15px;
   
 }
 footer a{
   color:#fff;
   text-decoration: none;
   font-size:1.5rem;
 }
 
 .cardImg{
     width:100%;
     height: 250px;
     object-fit: cover;
     border-top-left-radius:15px;
     border-top-right-radius:15px;
    
   }
 
 .cover {
     object-fit: cover;
   }
 
   #tempcontainer{
     border:1px solid #e78200;      
     padding:10px;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   } 
 
   
   .card-img-top {
     border-top-left-radius:15px;
     border-top-right-radius:15px;
     object-fit:cover;
     height: 250px;
 
   }
   
   .card-title{
     font-size: 1.5rem !important;
     overflow:hidden;
   }
   .price{
     font-weight: bolder;
     line-height: 2;
     font-size: 1rem;
   }
   .smallText{
  font-size: 1rem;
   }
 
   select{
     padding: 9px !important;
   }
   #alert{
     display:none;
   }
   .cartcard{
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   border:1px solid #e78200;
   border-radius: 15px;
   width:350px;
   }
   .boxCard{
   margin-bottom: 20px;
   }
   
   .control{
     display: block !important;
     transition: height 2s;
     transition-timing-function: ease-in;
   }
   .imgBox img{
   height:200px;
   width:200px;
   }
   
   .description_cartcard{
    width:100%;
   }
  
   #btnRemove{
  margin-left: 10px;
   }
  #output{
    margin-left:17%;
   }
   .totalPrice {
    font-weight: bolder;
    font-size: 1rem;
    border:1px solid #e78200;
    padding:5px;
}
  
 .cartForm {
  width: 60%;
  margin: 20px auto 0 auto;
  padding: 20px;
  text-align: center;
  background:linear-gradient(72deg, rgba(199,122,93,1) 24%, rgba(181,111,147,1) 38%, rgba(148,91,130,1) 73%)! important;
  color: #fff;
  box-shadow: 0 0 15px #8a8a8a;
 }
 .textSize{
   font-size: 0.7em;
 }
 input:focus{
   background: #8a8a8a;
 }
 
 .hero {
  padding: 40px 20px;
  text-align: center;
  background:linear-gradient(72deg, rgba(199,122,93,1) 24%, rgba(181,111,147,1) 38%, rgba(148,91,130,1) 73%)! important;
  color:#fff;
 }
  .hero.title {
      margin: 0;
      text-transform: uppercase;
      font-size: 35px;
  }

  .hero.undertitle {
      font-weight: 300;
      font-size: 20px;
  }
  .greetings {
    display:flex;   
    margin: 20px auto 0 auto;
  } 
  .ordersSummary {
        padding: 10px;
        border:2px solid #e78200;
        height:auto;
    }
    #badGateWay{
     width:100%;  
    height:100vh;
    text-align: center;
    }
    #badGateWay img{
      width:90%;
      height: auto;
     
    }
    @media screen and (max-width:768px) {
      .greetings {
        flex-direction: column;
      }
    }

    .greetings__infos {
        padding-right: 20px;
    }

   

    .greetings.product {
      border-bottom: 1px solid ;
    }

        @media screen and (max-width: 430px) {
          .greetings {
            flex-direction: column;
          }
        }
    


   @media (max-width:768px){
     .singleImg{
      flex-direction: column;
      margin-bottom: 30px;
      
     }
     #tempcontainer{
       margin-left:0;
     }
     #cartcard{
       flex-direction: column;
     }
     .imgBox img {
       width:100%;
     }
     #output{
        margin-left:0%;
       }
       .cartcard {
         width:100%;
       }
       .cartForm {
         width:100%;
       }
   }
  